html {
  font-family: helvetica;
  font-size: 18px;
  line-height: 1.4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-top: 1rem;
  background-color: cadetblue;
  color: white;
}

header img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

header span {
  display: flex;
  align-items: center;
}

nav a {
  display: inline-block;
  text-decoration: none;
  margin-right: 2rem;
  color: white;
}

#header__menu {
  display: none;
}

footer {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  padding: 4rem;
  background-color: azure;
}

main {
  margin-top: 31rem;
}

footer img {
  height: 1.5rem;
  width: auto;
}

footer span {
  margin: 1rem;
}

h2, h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

h3 {
  font-size: 1rem;
}

.container {
  max-width: 960px;
  margin: 1rem auto;
}

.banner {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../images/glasses-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
  z-index: -1;
}

.banner__info {
  padding: 1.5rem 5rem;
  background-color: white;
}

.info {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info__block {
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 3rem;
}

.info__block p {
  text-align: center;
}

.info__block__img-v {
  width: 3.5rem;
  height: auto;
}

.info__block__img-h {
  width: 5rem;
  height: auto;
}

.highlights {
  display: grid;
  grid: 100% / repeat(2, 35%);
  grid-gap: 5%;
  justify-content: center;
}

.highlights__block {
  margin: 0 auto;
}

.highlights__block h3 {
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin: 1rem 0;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  header {
    margin-top: 0;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .banner {
    align-items: flex-start;
    height: 22rem;
  }

  .banner__info {
    margin: 8rem 2rem;
    padding: 0.75rem 4rem;
  }

  h2 {
    font-size: 1.33rem;
  }

  main {
    margin-top: 23rem;
  }
}

@media only screen and (max-width: 480px) {
  header {
    margin-top: 0;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .banner {
    background-position: 20%;
    height: 17rem;
  }

  .banner__info {
    margin: 12rem 0 auto;
    padding: 1rem auto;
    width: 100%;
  }

  main {
    margin-top: 17rem;
  }

  h2 {
    font-size: 1rem;
    text-align: center;
  }

  .info {
    display: grid;
    grid: repeat(3, 1fr) / auto;
    grid-gap: 1.54rem;
    margin: 3.77rem auto;
  }

  .info p {
    font-size: 0.77rem;
  }

  .info__block {
    justify-content: space-around;
  }

  .highlights {
    grid: 1fr 1fr / 1fr;
    grid-gap: 4rem;
  }

  .highlights__block {
    font-size: 0.77rem;
    margin-top: 1rem;
  }

  .highlights__block h3 {
    width: 100%;
    text-align: center;
  }

  header nav {
    display: none;
  }

  #header__menu {
    display: block;
  }
}
